<h2>
    {{ title }}
</h2>

<div class="right">
    {{ productsNumber$ | async }} products /

    {favourites, plural,
    =0 {no favourite}
    =1 {1 favourite}
    other {{{favourites}} favourites}
    }
</div>
<div>
    <!-- Search: <input type="text" [formControl]="filter" placeholder="filter by name"> -->
    &nbsp;
</div>

<ng-template #loading>
    <h2 class="loading">Loading products</h2>
</ng-template>

<ul class="products" *ngIf="products$ | async as products;else loading">
    <li *ngFor="let product of products | slice:start:end"
        (click)="onSelect(product)"
        [class.discontinued]="product.discontinued"
        [class.selected]="selectedProduct === product">
        <span class="name">{{ product.name | uppercase }}</span>
        <span class="description">{{ product.description }}</span>
        <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
    </li>
</ul>

<div class="right">
    <span *ngIf="mostExpensiveProduct$ | async as mostExpensiveProduct">
        Most expensive:
        {{ mostExpensiveProduct?.name }}
        {{ mostExpensiveProduct?.price | currency: "CAD":"symbol-narrow":".2" }}
    </span>
    <button (click)="reset()">Reset List</button>&nbsp;
    <a routerLink="insert">Add new product...</a>
</div>

<div>
    <button (click)="previousPage()"
            [disabled]="start === 0">
        < Previous Page
    </button>
    Page {{ currentPage }}
    <button (click)="nextPage()"
            [disabled]="(productsNumber$ | async) <= end">
        Next Page >
    </button>
</div>